.mainscreen{
  width: 100%;
  padding: 20px;
}

.title{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
  color: rgb(0, 50, 67);
}

.dayname{
  color: rgb(0, 50, 67);
  margin-bottom: 5px;
}

.fieldbox{
  margin-right: 15px;
  width: 400px;
}

.addremovebtn{
  margin-right: 15px;
  color:  rgb(0, 146, 194);
  background-color: whitesmoke;
}

.addremovebtn .icon{
  margin: 0 auto;
  vertical-align: middle;
  margin-bottom: 3px;
}

.actionbox{
  text-align: center;
}

.closebtn{
  margin-right: 15px;
  color: red;
  border: 1px solid red;
}

.submitbtn{
  color: white;
  background-color: green;
}

.requestnote{
  margin: 20px;
  font-style: italic;
  text-align: center;
}

.timezonenote{
  font-style: italic;
  text-align: center;
  color: gray;
  margin-bottom: 20px;
}