<div>
    <div style="margin: 20px;">
        <!-- <h5 class="title">Content Analytics ({{querydays}}&nbsp;days)</h5> -->
        <!-- (dateChange)="filterData()" -->
        <mat-label>Query Data by date range : </mat-label>
        <mat-form-field appearance="outline" style="padding-left: 10px;">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate [(ngModel)]="startDate" placeholder="Start date">
                <input matEndDate [(ngModel)]="endDate" placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-stroked-button color="primary" type="button" (click)="filterData()">Fetch Data</button>
        <!-- <div *ngIf="contentAnalytics.length != 0"> -->
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-row flex-wrap">
                <mat-label>Filter By : &nbsp;&nbsp;</mat-label>
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput [(ngModel)]="filterValue.name" (keyup)="onFilter(filterValue)" placeholder="name">
                </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
                <mat-form-field appearance="outline" style="padding-left: 10px;">
                    <mat-label>Date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker1">
                        <input matStartDate [(ngModel)]="filterValue.startdate" placeholder="Start date">
                        <input matEndDate [(ngModel)]="filterValue.enddate" placeholder="End date"
                            (dateChange)="onFilter(filterValue)">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker1></mat-date-range-picker>
                </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
                <mat-form-field appearance="outline" style="padding-left: 10px;">
                    <mat-label>Screen From </mat-label>
                    <mat-select [(ngModel)]="filterValue.from" (selectionChange)="onFilter(filterValue)">
                        <mat-option *ngFor="let option of fromScreenList" [value]="option">{{option}}</mat-option>
                    </mat-select>
                </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
                <mat-form-field appearance="outline" style="padding-left: 10px;width:300px">
                    <mat-label>Video Name</mat-label>
                    <mat-select [(ngModel)]="filterValue.videoname" (selectionChange)="onFilter(filterValue)" multiple>
                        <mat-option *ngFor="let option of videoNameList" [value]="option">{{option}}</mat-option>
                    </mat-select>
                </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
                <mat-form-field appearance="outline" style="padding-left: 10px;width:300px">
                    <mat-label>Total time spend (>) given value (mins)</mat-label>
                    <input type="number" matInput [(ngModel)]="filterValue.totaltimespend"
                        (keyup)="onFilter(filterValue)">
                </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
                <mat-form-field appearance="outline" style="padding-left: 10px;width:300px">
                    <mat-label>Platform</mat-label>
                    <mat-select [(ngModel)]="filterValue.platform_name" (selectionChange)="onFilter(filterValue)">
                        <mat-option *ngFor="let option of platformNameList" [value]="option">{{option}}</mat-option>
                    </mat-select>
                </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
                <button style="height: 40px;margin-top: 15px;" mat-stroked-button type="button"
                    (click)="onClearFilterValue()">Clear</button>
            </div>
            <div>
                <button mat-stroked-button type="button" (click)="exportCSV()">Export</button>
            </div>
        </div>

        <!-- user date -->
        <div class="d-flex flex-column">
            <h4>{{querydays ?? 0}}&nbsp;days</h4>
            <span>Unique User : <b>{{uniqueuser}}</b></span>
            <span>
                Total Content Consumption by unique user: 
                &nbsp;&nbsp;<b>{{uniqueUserContentConsumptionbyhours}}</b>
                &nbsp;&nbsp;'is equivalent to'
                &nbsp;&nbsp;<b>{{uniqueUserContentConsumptionbydays}}</b>
            </span>
            <span>Average time spend per user : <b>{{averageTimeSpendPerUser}}</b></span>
        </div>

        <br>
        <br>
        <!-- <mat-form-field appearance="outline">
                <mat-label>Filter by Name</mat-label>
                <input matInput (input)="applyNameFilter($event)" placeholder="name">
            </mat-form-field> -->
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="contentData" matSort>
                <ng-container matColumnDef="profileid">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                    <td mat-cell *matCellDef="let row">
                    <ng-container *ngIf="mapProfile[row.profileid]; else newUserBlock">
                        {{ mapProfile[row.profileid] }}
                    </ng-container>
                    <ng-template #newUserBlock>
                        {{ mapProfileNew[row.profileid] }}
                        <span style="color: red;">(New User)</span>
                    </ng-template>
                    &nbsp;&nbsp;
                    <mat-icon *ngIf="row['live']" class="forrestGreen">play_circle_filled</mat-icon>
                    </td>
                </ng-container>
                <ng-container matColumnDef="from">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>From</th>
                    <td mat-cell *matCellDef="let row">{{row.from}}</td>
                </ng-container>
                <ng-container matColumnDef="lastwatchedtime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Lastwatched Time </th>
                    <td mat-cell *matCellDef="let row">{{row.lastwatchedtime}}</td>
                </ng-container>
                <ng-container matColumnDef="logdate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Logdate </th>
                    <td mat-cell *matCellDef="let row">{{row.logdate.toDate() | date : 'M/d/yy, h:mm:ss a'}}</td>
                </ng-container>
                <ng-container matColumnDef="totalruntime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Runtime </th>
                    <td mat-cell *matCellDef="let row">{{convertDecimal(row.totalruntime)}}</td>
                </ng-container>
                <ng-container matColumnDef="totaltimespend">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Timespend </th>
                    <td mat-cell *matCellDef="let row">{{convertDecimal(row.totaltimespend)}}</td>
                </ng-container>
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                    <td mat-cell *matCellDef="let row">{{row.type}}</td>
                </ng-container>
                <ng-container matColumnDef="videoname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Videoname </th>
                    <td mat-cell *matCellDef="let row">{{row.videoname}}</td>
                </ng-container>
                <ng-container matColumnDef="platform_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Platform </th>
                    <td mat-cell *matCellDef="let row">{{row.platform_name ? row.platform_name : null }}</td>
                </ng-container>
                <ng-container matColumnDef="playlist">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Playlist </th>
                    <td mat-cell *matCellDef="let row">{{row.playlistid ? row.playlistid == 'downloadsplaylist' ? 'Downloads Playlist' :  mapPlaylist[row.playlistid] : null }}</td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let row">{{row.status ? row.status : null }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="printLog(row)"></tr>
            </table>
        </div>
        <!-- </div> -->
        <mat-paginator [pageSizeOptions]="[25,50,100]" aria-label=""></mat-paginator>
    </div>
</div>