.mainscreen{
  width: 100%;
  padding: 20px;
}

.heading{
  font-size: x-large;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  color: rgb(0, 50, 67);
}

.body{
  padding: 10px;
}

.actionbox{
  margin-top: 10px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-content: center;
}

.actionitem{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.addbtn{
  color: green !important;
  border: 1px solid green !important;
  font-weight: bold;
}

.addbtn:hover{
  color: white !important;
  background-color: green !important;
  font-weight: bold;
}

table{
  width: 100%;
}

.editbtn{
  color: gray;
}

.editbtn:hover{
  background-color: rgba(145, 145, 145, 0.227);
}

.emptytext{
  text-align: center;
  color: grey;
}