.queueheader{
    background-color: black;
    color: white;
    /* padding: 5px; */
  }
  
  .queuecontent{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    text-align: center;
  }
  
  .queuetitle{
    text-align: center;
    line-height: 1.4;
    
  }
  
  .text1{
    font-size:1vw;;
    letter-spacing: 1.5px;
  }
  
  .text2{
    font-size:0.8vw;
    letter-spacing: 1.5px;
  
  }
  
  .footer{
    text-align: center;
    width: 100%;
    color: #3c3c3c;
    padding: 15px;
    position: fixed;
    bottom: 30px;
    line-height: 1.5;
  }
  
  .text3, .text4{
    font-size: 1vw;
    letter-spacing: 1.2px;
  }
  
  .mainscreen{
    padding: 20px;
  }
  
  /* clientview */
  ::-webkit-scrollbar {
  width: 0px;
  overflow: auto;
  background: rgb(255, 255, 255);
  box-shadow: inset 0 0 4px #707070;
  }
  
  ::-webkit-scrollbar-thumb {
  background: rgb(95, 95, 95);
  border-radius: 10px;
  }
  
  .heading{
    font-size: 1vw;
    text-align: center;
    /* margin-bottom: 15px;
    margin-top: -10px; */
    color: rgb(0, 50, 67);
  }
  
  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .main{
    top: 30px;
    display:grid;
    /* flex-direction: row; */
    float: left;
    background-color: rgb(255, 255, 255);
    margin: 3px;
    flex-wrap: wrap;
  }
  
  .data{
  font-size: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .container {
    /* width: 200px; */
    /* display: inline-block; */
    /* vertical-align: top; */
    /* flex-direction: column;  */
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    /* overflow: auto; */
    border: solid 1px rgb(182, 182, 182);
    padding: 20px;
    background-color:rgb(0, 101, 135);
    color: white;
  }
  
  .list {
    /* display: flex; */
    height: 800px;
    /* overflow-x: hidden; */
    /* overflow-y:auto; */
    display: grid;
    grid-template-rows: repeat(16,40px);
    gap:10px;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    grid-auto-rows:auto;
  }
  
  .box:nth-child(even){
    background-color:rgb(243, 243, 243);
  }
  
  .box {
    border: solid 1px rgb(182, 182, 182);
    /* margin: 5px; */
    padding:5px;
    /* width: 180px; */
    color:black;
    /* display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; */
    box-sizing: border-box;
    cursor:grabbing;
    background: white;
    font-size: 12px; 
    /* text-align: center; */
  }
  
  .box:hover{
    background-color:rgb(197, 197, 197) ;
  }
  
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
  opacity: 0;
  }
  
  .cdk-drag-animating {
  transition: transform 500ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
  transition: transform 500ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .stage{
    padding: 10px;
    border: #707070 1px solid;
  }
  
  /* drag and drop */
  
  h2{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1px;
  }