.container{
  display: flex;
  flex-direction: column;
  justify-content:left;
  margin-top: 20px;
}
.spacer {
  flex: 1 1 auto;
}

table{
  width: 100%;
}

.title{
  text-align: center;
  color: rgb(0, 50, 67);
  margin-bottom: 10px;
}