.mainscreen{
  padding: 20px;
  width: 100%;
}

.heading{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
  color: rgb(0, 50, 67);
}

.body{
  padding: 10px;
}

.actionbox{
  margin-top: 10px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-content: center;
}

.actionitem{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.clearbtn{
  color: grey;
}

.slotbtn{
  color: green !important;
  border: 1px solid green !important;
  margin-left: 10px;
}

.slotbtn:hover{
  color: white !important;
  background-color: green !important;
}

table{
  width: 100%;
}

th, td{
  width: 25%;
}

tr:hover{
  background-color: whitesmoke;
}

.nostatus{
  color: gray;
  font-style: italic;
}

.approvefont{
  color: green;
}

.denyfont{
  color: red;
}

.approvebtn{
  color: green !important;
  border: 1px solid green !important;
}

.denybtn{
  color: red !important;
  border: 1px solid red !important;
  margin-left: 15px;
}

.revokebtn{
  color: rgb(150, 150, 46) !important;
  border: 1px solid rgb(150, 150, 46) !important;
  margin-left: 15px;
}

.emptytext{
  text-align: center;
  color: grey;
}